@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<!-- ko foreach: {data: el, as: 'el'} -->
    <h1 data-bind="text: el.label"></h1>
    <h2>Unit: <!-- ko text: el.unit --><!-- /ko --></h2>
    <input data-bind="value: el.value" />

<!-- /ko -->
<select data-bind="options: [0,1,2,3,4,5,6,7,8,9,10],
                   value: rounding"></select>

<button data-bind="click: function() { convert.switchSystem();}">convert</button>

<!-- ko foreach: {data: comp, as: 'el'} -->
    <h1 data-bind="text: el.label"></h1>
    <h2>Unit: <!-- ko text: el.unit --><!-- /ko --></h2>
    <input data-bind="value: el.value" disabled/>
<!-- /ko -->


@section scripts {
    <script src="~/Scripts/conversion-2.0.js"></script>
    <script src="~/Scripts/TS/conversionTest.js"></script>
}


