@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}






<h1 data-bind="text: el.label"></h1>
<h2 data-bind="text: el.unit"></h2>
<input data-bind="value: el.value" />
<h2 data-bind="text: el2.unit">sd</h2>
<input data-bind="value: el2.value" />
<select data-bind="options: [0,1,2,3,4,5,6,7,8,9,10],
                   value: rounding"></select>

<button data-bind="click: function() { convert.switchSystem(convert);}">convert</button>


@section scripts {
    <script src="~/Scripts/conversion.js"></script>
    <script src="~/Scripts/TS/conversionTest.js"></script>
}


