@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <h1 data-bind="text: title"></h1>

    <!-- ko foreach: {data: sections, as: 'section'} -->
        <h2 data-bind="text: section.name"></h2>
        <!-- ko foreach: {data: section.elements, as: 'element'} -->
            <div class="row">
                <div data-bind="css: element.layout.getClass()">
                    <input class="form-control" data-bind="value: element.value" />
                </div>
            </div>
        <!-- /ko -->
    <!-- /ko -->
</div>


@section scripts {
    <script src="~/Scripts/conversion.js"></script>
    <script src="~/Scripts/TS/Structure.js"></script>
    <script src="~/Scripts/TS/Index_App.js"></script>
}
